.zoom__Template_card {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.zoom__Template_card.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.zoom__Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 75vh;
}

.zoom__pic {
  max-width: 816px;
  height: 540px;
  position: relative;
}

.zoom__text {
  font-family: "Inter";
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
}

.zoom__Template_close {
  position: relative;
  right: -430px;
}

.zoom__Template_close:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 544px) {
  .zoom__pic {
    width: 75vw;
    height: 75vh;
  }

  .zoom__Template_close {
    right: -220px;
    top: -20px;
  }
}
